/* css variables */ 
:root{
    /* Font stuff */
    --largestText: 2em;
    --largeText: 1.3em;
    --normalText: 1em;
    --smallText: 0.75em;
    --font: font-family: 'Rubik', sans-serif;
    
    /* sizings */
    --extraLarge: 20em;
    --large: 7em;
    --medium: 3em;
    --small: 1em;
    --extraSmall: 0.5em;
    --thin: 0.2em;
    
    /* colors */
    --darkColor: #1F2937;
    --lightestColor: #E5E7EB;
    --accentColor: #3882F6;
    
    /* mobile orientation (to be changed with @media) */
    --direction: column;
    --align: center;
    --textAlign: center;

}

/* */ 

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font: var(--font);
}


/* MOBILE FIRST */
body{
    display:flex;
    flex-direction: column;
}

.dark{
    background-color: var(--darkColor);
    color: var(--lightestColor); 
}

.pad{
    padding: var(--extraSmall) var(--medium);
}

.img-logo{
    width: var(--extraLarge);
    margin-bottom: var(--small);
}

h1{
    font-size: var(--largestText);
    font-weight: 600;
    margin-bottom: var(--small);
}

h2{
    font-size: var(--largeText);
    font-weight: 600;
    padding: 3% 0%;
    margin-bottom: var(--small);
}

h3{
    font-size: var(--normalText);
    font-weight: 400;
}

p{
    font-size: var(--normalText);
    font-weight: 400;
}

a{
    text-decoration: none;
    color: var(--lightestColor);
}

a:hover{
    color: var(--accentColor);
}

.quote-text{
    font-size: var(--largeText);
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: var(--small);
}

.quote-credit{
    font-size: var(--normalText);
    font-weight: 600;
    text-align: right;
}

.flex-default{
    display:flex;
    flex-direction: var(--direction);
    justify-content: var(--align);
    align-items: var(--align);
    text-align: center;
}

.img-wide{
    display: none;
}


.align-text{
    text-align: var(--textAlign);
}


li{
    font-size: var(--normalText);
    text-align: center;
    margin-bottom: var(--small);
}

.content-wide{
    padding: var(--small) var(--extraSmall) var(--extraSmall);
    align-items: var(--align);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--small) !important;
    flex: 1;
}

img{
    cursor: pointer;
}


button:hover{
    outline: var(--lightestColor) solid var(--thin);
    cursor: pointer;
}

  
ul {
    list-style: none;
    display: flex;
    gap: var(--small);
}

button{
    padding: var(--extraSmall) var(--small);
    font-weight: 900;
    font-size: var(--normalText);
    margin: var(--small) 0px;
}

.blue {
    background: var(--accentColor);
    color: var(--lightestColor);
}
    

.section{
    display: flex;
    margin-bottom: var(--small);
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.border {
    border: var(--thin) solid var(--accentColor);
    border-radius: var(--thin);
}

.quote-block{
    padding: var(--medium) var(--small);
    background: var(--lightestColor);
}

.white-outline{
    background: var(--accentColor);
    color: var(--lightestColor);
    display: flex;
    flex-shrink: 0;
}

.border .white-outline{
    border-color: var(--lightestColor);
}

.white-outline:hover{
    border-color: var(--accentColor);
}

.bold{
    font-weight: 600;
}

.content-row {
    display: flex;
    align-items: center;
    justify-content: var(--align);
    flex-wrap: wrap;
    gap: var(--medium);
    margin-bottom: var(--small);
}

.img-square{
    margin-bottom: var(--extraSmall);
}

.elm-caption p, .elm-caption img{
    width: var(--large);
}

.elm-caption {
    text-align: center;
    margin-bottom: var(--extraSmall);
}

/* tablets */ 
@media(min-width: 810px){    
    .img-logo, li{
        margin-bottom: 0px;
    }

    .img-wide{
        display: block;
        width: 100%;
        max-width: var(--extraLarge);
        height: 90%;
    }

    .header-card{
        max-width: 50%;
    }
    
    .content-wide{
        align-items: center;
        padding: var(--small) var(--small);
    }
    
    .content-wide div{
        width: 60%;
    }
    
    ul{
        padding: 3vw;
    }
    
    
    :root{
    /* mobile orientation (to be changed with @media) */
    --direction: row;
    --align: space-between;
    --textAlign: left;

    }
}

/* computer screen */ 
@media(min-width: 1080px){    
    .img-logo, li{
        margin-bottom: 0px;
    }

    .img-wide{
        display: block;
        width: 100%;
        max-width: var(--extraLarge);
        height: 90%;
    }

    .header-card{
        max-width: 50%;
    }
    
    .content-wide{
        padding: var(--small) var(--medium);
        align-items: center;
    }
    
    ul{
        padding: var(--small);
    }
    
    .img-logo{
        margin-left: -2vw;
    }
    
    .content-row {
        gap: var(--small);
        display: flex;
        justify-content: space-around;
    }
    
    .pad{
        padding: var(--) var(--large);
    }
    
    :root{
    /* mobile orientation (to be changed with @media) */
    --direction: row;
    --align: space-between;
    --textAlign: left;
    
    /* sizings */
    --extraLarge: 25vw;
    --large: 10vw;
    --medium: 8vw;
    --small: 2vw;
    --extraSmall: 0.5vw;
    --thin: 0.2vw;  
        
    /* Font stuff */
    --largestText: 2vw;
    --largeText: 2vw;
    --normalText: 1.3vw;
    --smallText: 1vw;
    --font: font-family: 'Rubik', sans-serif;
    }
}


