:root{
    --font: font-family: 'Rubik', sans-serif;
    --darkColor: #1F2937;
    --lightestColor: #E5E7EB;
    --accentColor: #3882F6;
    --largestText: 3.5vh;
    --largeText: 3vh;
    --normalText: 2vh;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font: var(--font);
}

.space-between{
    flex-direction: column;
    display:flex;
    
}

body{
    display:flex;
    flex-direction: column;
}

.img-wide{
    display: none;
}

.img-logo{
    width: 35vw;
    margin-left: -0.75rem;
    margin-bottom: 1.5rem;
}

.align-left{
    text-align: center;
}



li{
    font-size: var(--normalText);
    text-align: center;
    margin-bottom: 2rem;
}

.content-wide{
    padding: 2.5em 1em 1em;
    align-items: center;
}

@media(min-width: 700px){
    .content-wide{
        padding: 0.4% 7%;   
        margin: 3%;
        align-items: center;
        gap: 2em;
    }
    
    .img-logo{
        width: 20vw;
        height: auto;
    }
    .img-logo, li{
        margin-bottom: 0px;
    }
    
    .space-between{
        display: flex;
        justify-content: space-between;
        flex-direction: row;

    }

    .img-wide{
        display: block;
        width: 100%;
        height: 18vw;
        max-width: 40vw;
    }
    
    :root{
        --largestText: 2.5vw;
        --largeText: 2vw;
        --normalText: 1.3vw;
    }
    
    .align-left{
        text-align: left;
    }

    .header-card{
        max-width: 30%;
    }
}

img{
    cursor: pointer;
}
 
h1{
    font-size: var(--largestText);
    font-weight: 600;
    margin-bottom: 1rem;
}

h2{
    font-size: var(--largeText);
    font-weight: 600;
    padding: 3% 0%;
    margin-bottom: 1rem;
}

h3{
    font-size: var(--normalText);
    font-weight: 400;
}

p{
    font-size: var(--normalText);
    font-weight: 400;
}

a:hover{
    color: var(--accentColor);
}

button:hover{
    outline: var(--lightestColor) solid 2px;
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% !important;
    flex: 1;
}
  
ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: var(--lightestColor);
}

button{
    padding: 1.2% 5%;
    font-weight: 900;
    font-size: var(--normalText);
    margin: 7% 0px;
    border-radius: 0.5rem;
}

.dark{
    background-color: var(--darkColor);
    color: var(--lightestColor);    
    padding-bottom: 5%;
}

.blue {
    background: var(--accentColor);
    color: var(--lightestColor);
}
    

.section{
    display: flex;
    margin-bottom: 5%;
}

.pad{
    padding: 1.5% 15%;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.border {
    border: 0.10rem solid var(--accentColor);
    border-radius: 0.3rem;
}

.quote-block{
    padding: 10% 21%;
    background: var(--lightestColor);
}

.quote-text{
    font-size: var(--largeText);
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 1.5rem;
}

.quote-credit{
    font-size: var(--normalText);
    font-weight: 600;
    text-align: right;
}


.white-outline{
    background: var(--accentColor);
    color: var(--lightestColor);
    display: flex;
    flex-shrink: 0;
}

.border .white-outline{
    border-color: var(--lightestColor);
}

.white-outline:hover{
    border-color: var(--accentColor);
}

.bold{
    font-weight: 600;
}

.content-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6vw;
    margin-bottom: 2rem;
}

.img-square{
    margin-bottom: 0.5rem;
}

.elm-caption p, .elm-caption img{
    width: 100px;
}

.elm-caption {
    text-align: center;
    margin-bottom: 1rem;
}
